@using WebSoccer.Utility.Helpers;
@model List<Product>
<div class="row row-pb-md">
	@foreach (var item in Model)
	{
		<div class="col-lg-4 mb-4 text-center">
			<div class="product-entry border">
				@if (item.ProductImages != null && item.ProductImages.Count() > 0)
				{
					<a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id"><img src="@item.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" /></a>
				}
				else
				{
					<img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
				}
				<div class="desc">
					<h2><a href="#">@item.Name</a></h2>
					<span class="price">@item.Price.ToVnd()</span>
					<span class="price"><a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id"><i class="bi bi-eye"></i></a></span>
				</div>
			</div>
		</div>
	}
</div>